* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 80px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #444;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  width: 60px;
  height: 4px;
  background-color: limegreen;
  margin: 0 auto 40px;
}

.text-lime {
  color: limegreen;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.4);
}

#navbar {
  z-index: 1;
  text-transform: uppercase;
  width: 100%;
  transition: background-color 1s;
  padding: 20px 0;
}
#navbar a,
#navbar i {
  color: #fff;
  transition: 0.3s;
}
#navbar a:hover {
  color: limegreen;
}
#navbar .fa-bars {
  padding: 10px;
}
#navbar .navbar-brand {
  font-weight: bold;
}
#navbar .active {
  color: limegreen;
}

.hero-img {
  position: relative;
  height: 100vh;
  background-image: url(../img/game-console_640.jpg);
  color: #fff;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
.hero-img .btn {
  font-size: 14px;
  text-transform: uppercase;
}
.hero-img .hero-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 10px;
  text-align: center;
}
.hero-img .hero-text h1 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: bold;
}
.hero-img .hero-text p {
  font-size: 14px;
}
.hero-img .fa-arrow-down {
  position: absolute;
  font-size: 36px;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.hero-shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.next {
  height: 100vh;
}

.aboutus i {
  margin-top: 20px;
  font-size: 30px;
}
.aboutus .aboutus-card-title {
  text-transform: uppercase;
  font-size: 18px;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}
.aboutus .aboutus-hover {
  transition: color 0.3s;
}
.aboutus .aboutus-hover:hover {
  color: limegreen;
}

.hero-img-game {
  position: relative;
  background-image: url(../img/processor_640.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  z-index: 0;
}
.hero-img-game .aboutus-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.aboutus-hero-item {
  margin: 10px 0;
}
.aboutus-hero-item i {
  font-size: 36px;
}
.aboutus-hero-item .aboutus-hero-title {
  font-size: 24px;
}

.portofolio .carousel-item {
  position: relative;
  height: 600px;
}
.portofolio .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.portofolio .carousel-indicators {
  padding-bottom: 20px;
}

.card {
  margin: 15px;
  border-radius: 40px;
  border: none;
}
.card .card-img-top {
  height: 200px;
}

@media (min-width: 375px) {
  #navbar {
    padding: 15px;
  }
  html {
    scroll-padding-top: 80px;
  }
  .hero-img .hero-text h1 {
    font-size: 36px;
  }
  .hero-img .hero-text p {
    font-size: 16px;
  }
  .card {
    margin: 10px 40px;
  }
}
@media (min-width: 768px) {
  .hero-img .hero-text h1 {
    font-size: 42px;
  }
  .hero-img .hero-text p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #navbar {
    padding: 20px;
  }
  .hero-img {
    background-image: url(../img/game-console_1920.jpg);
  }
  .hero-img-game {
    background-image: url(../img/processor_1920.jpg);
  }
  .carousel-item img {
    padding: 10px;
    height: 600px;
  }
}
@media (min-width: 1200px) {
  #navbar {
    padding: 20px;
  }
}/*# sourceMappingURL=main.css.map */